openapi: 3.1.0
info:
  title: Todoist API v1 Readonly Pilot
  version: 1.0.0
  description: >
    Butler EXT-2 minimal readonly spec (WFXM-maintained).
    Official v1 docs: https://developer.todoist.com/api/v1/
servers:
  - url: https://api.todoist.com
    description: Todoist unified API v1
paths:
  /api/v1/projects:
    get:
      operationId: listProjects
      summary: List active projects (paginated)
      tags: [Projects]
      security:
        - bearer: []
      responses:
        "200":
          description: Project page
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/v1/projects/{project_id}:
    get:
      operationId: getProject
      summary: Get a project by ID
      tags: [Projects]
      security:
        - bearer: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Project
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/v1/tasks:
    get:
      operationId: listTasks
      summary: List active tasks (paginated)
      tags: [Tasks]
      security:
        - bearer: []
      parameters:
        - name: project_id
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Task page
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/v1/tasks/{task_id}:
    get:
      operationId: getTask
      summary: Get a task by ID
      tags: [Tasks]
      security:
        - bearer: []
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Task
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: token
